/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
//全てのブラウザに基本適用される設定
body {
  font-family: 'Amatic SC', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

//文字の大きさ
.font-s {
  font-size: 14px;
}
.font-m {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
//上下の余白
.mb-s {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-s {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
//左右の余白
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title {
  @extend .font-lg;
  display: block;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}
.sub-title {
  @extend .font-s;
  color: $cSubTitle;
}
.flex {
  display: flex;
  flex-direction: column;
}
.red {
  color: $cRed;
}
.yellow {
  color: $cYellow;
}
#content {
  padding-top: $navHeight;
}
#main-content {
  position: relative;
  z-index: 0;
}
main {
  position: relative;
  z-index: -1 ;
}
#container {
  background-color: $cWhite;
  position: relative;
  z-index: 2;
  transition: transform 0.5s, box-shadow 0.5s;
}

.icon {
  position: relative;

  @include p-base($left: -20px, $top: 50%, $width: 1em, $height: 1em) {
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &.Twitter {
    &::before {
      background-image: url(../images/twitter.svg);
    }
  }
  &.Facebook {
    &::before {
      background-image: url(../images/facebook.svg);
    }
  }
  &.Instagram {
    &::before {
      background-image: url(../images/instagram.svg);
    }
  }

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: $navHeight;
  width: 100%;
  background-color: transparent;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 10;

  &.triggered {
    background-color: white;
    box-shadow: 20px 0 25px -10px black;
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__li {
    margin-left: 30px;

    & > a {
      color: $cBlack;
      text-decoration: none;
    }
  }

  &__inner {
    @extend .content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.about {
  @extend .content-width;
  
  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }

  &__title {
    position: relative;

    @include p-base(
      $display: none,
      $width: 100px,
      $height: 1px,
      $top: 50%,
      $left: -120px
    ) {
      background-color: $cBlack;
      transform: translateY(-50%) scaleX(0);
      transition: transform 0.3s ease 10s;
      transform-origin: left;
    }
    &.inview {
      &::before {
        transform: translateY(-50%) scaleX(1);
      }
    }
  }
  &__img {
    height: 365px;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }
  &__texts {
    @extend .pb-s;
    
  }
  
}

.applications {
  &__inner {
    @extend .flex;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__title {
    @extend .font-lr;
    @extend .mb-s;
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.hobby {
  &__inner {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90%;
      background-color: $cBgGray;
    }
  }

  &__header {
    @extend .content-width;
  }
  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;;
    @extend .pb-s;
  }
  &__img{
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
    & > img {
      object-fit: cover;
      object-position: bottom;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    @extend .font-lr;
    @extend .mb-s;
  }
  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.logo {
  display: flex;
  font-size: 43px;
  &__img {
    width: 0.7em;
  }
  &__Portfoflio {
    color: $cPortfoflio;
  }
}

.footer {
  padding: 60px 0;
  @extend .content-width;

  .logo {
    font-size: 38px ;
    justify-content: center;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
      text-decoration: none;
    }
  }
}

.side {
  display: none;
  position: fixed;
  top: 80%;
  transform: translateY(-50%);

  & a,
  & span {
    color: $cBlack;
    text-decoration: none !important;
    margin: 0 40px;
    vertical-align: middle;
  }

  &.left {
    left: 50px;

    & .side__inner {
      transform: rotate(-90deg);
      transform-origin: top left;
    }
  }
  &.right {
    right: 50px;

    & .side__inner {
      transform: rotate(90deg);
      transform-origin: top right;
    }
  }
}